/* Error: Can't find stylesheet to import.
 *    ,
 * 74 | @import "public/assets/styles/social.scss";
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   public/assets/styles/globals.scss 74:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 74 \2502  @import \"public/assets/styles/social.scss\";\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   public/assets/styles/globals.scss 74:9  root stylesheet";
}
