$primary: #dbdbdb;
$secondary: #373737;
$fill: #0e1212;
$purple : #682ae9;
$secondary: #EAFE16;
$ternary: #FFBB17;
$bg-light: radial-gradient(var(--bg),transparent,var(--purple) 130%);
$header-link: #dbdbdb;
$header-link-hover: #682ae9;
$header-link-hover-icon: #dbdbdb;
$header-link-active: #555;
$black: #0e1212;
$bg-rgb: 14,18,18;
$gray: grey;
$comment: #555;
$blue: #03fce8;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}
a {
  text-decoration: none;
}
html{
  background-color: $fill;
  color: $primary;
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
}
.post{
  height: 10%;
  width: 10%;
}
ul span {
  visibility: visible;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  content: '';
  height: 2px;
  width: 20px;
  color: $blue;
  border: 2px solid $blue;
  border-radius: 5px;
  margin-right: 1px;
}
h4 span{
  visibility: visible;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  content: '';
  height: 2px;
  width: 20px;
  color: $blue;
  border: 2px solid $blue;
  border-radius: 5px;
  margin-right: 1px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/styles/_social.scss";
@import "/styles/_skills.scss";
@import "/styles/_settings.scss";
@import "/styles/_navigation.scss";
@import "/styles/_navBar.scss";
@import "/styles/_footer.scss";
@import "/styles/_404.scss";
@import "/styles/_home.scss";
@import "/styles/markdown";
@import "/styles/form.scss";
